*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    min-height: 100vh;
}
footer{
    background-color: #4a76a8;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;

}
.copyright{
    text-align: center;
    color: white;
}

.header-2{
    background-color: #4a76a8;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header-2-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header2-logo-name{
    display: flex;
    align-items: center;
}
.logo{
    width: 56px;
    border-radius: 6px;
    margin-right: 25px;
}

.header-2-name{
    font-size: 24px;
}

.header2-go-to-site>a{
    color: white;
}
.header-2-a{
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.admin-start{
    padding-top: 70px;
    padding-bottom: 25px;
}

.admin-start-title{
    font-size: 20px;
    margin-bottom: 25px;
}
.admin-start-title-2{
    font-size: 18px;
    margin-bottom: 10px;
}
.admin-start-row{
    display: block;
    color: black;
    margin-bottom: 7px;
}
.admin-tournaments{
    padding-top: 25px;
    padding-bottom: 25px;
}
.admin-tournaments-title{
  font-size: 20px;
    margin-bottom: 20px;
}

.admin-tournaments-buttons-wrap{
    margin-bottom: 20px;
    display: flex;
}


.admin-tournaments-a{
    text-decoration: none;
    padding: 5px;
    border: 1px solid goldenrod;
    color: black;
    display: block;
    width: max-content;
    margin-right: 6px;
}


.active{
    background-color: goldenrod;
    color: white;
}
.admin-tournaments-b-add{
    margin-bottom: 20px;
}

.admin-tournaments-b-add>a{
    color:  black;
}

.admin-tournaments-add{
    padding-top: 25px;
    padding-bottom: 25px;
}
.admin-tournaments-add-title{
    font-size: 20px;
    margin-bottom: 20px;
}

.edit-bio-row{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.edit-select{
    width: 204px;
    padding: 5px;
}

.register-form-some{
    width: 204px;
    height: 45px;
    padding-left: 5px;
}

.register-form-button{
    width: 204px;
    padding: 10px;
    border: 1px solid #AFAFB0;
    border-radius: 3px;
    box-shadow: none;
    background-color: orange;
    cursor: pointer;
}
.register-error{
    margin-bottom: 10px;
    color: firebrick;

}
.viewTourn{
    padding-top: 25px;
    padding-bottom: 25px;
}
.view-tourn-x-info{
    display: flex;
}

.view-tourn-x-name{
    font-size: 30px;
    margin-bottom: 30px;
}

.view-tourn-x-data{
    font-size: 18px;
    margin-bottom: 5px;
}

.img-tourn{
    width: 389px;
}
.view-tourn-x-sex{
    padding-top: 109px;
    font-size: 18px;
    margin-bottom: 5px;
}

.view-tourn-wrap-2{
    padding-left: 40px;
}
.view-tourn-x-field{
    margin-bottom: 25px;
}
.view-tourn-x-gold,
.view-tourn-x-silver,
.view-tourn-x-bronze,
.view-tourn-x-age,
.view-tourn-x-weight{
    font-size: 18px;
    margin-bottom: 5px;
}

.participants-title{
    padding-top: 100px;
    font-size: 20px;
    margin-bottom: 20px;
}

.view-tourn-x-buttons{
    display:  flex;
    margin-bottom: 10px;
}
.pravka{
    height: max-content;
    margin-left: 5px;
}

.invite{
    padding-top: 25px;
    padding-bottom: 25px;
}
.invite-title{
    font-size: 20px;
    margin-bottom: 15px;
}
.invite-table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
.invite-table>tbody>tr>td{
    padding: 5px;
    padding-top: 15px;
    border-bottom: 1px solid #d4d3d3;
}
.invite-table>tbody>tr{
    margin-bottom: 10px;
}
.invite-table>tbody>tr>td>a{
    margin: 0 auto;
}
.inviteTry{
    padding-top: 25px;
    padding-bottom: 25px;
}
.inviteTry-title{
    font-size: 20px;
    padding-top: 25px;
}

.invite-try-form{
    margin-top: 20px;
    margin-bottom: 20px;
}

.back{
    width: 204px;
    padding: 10px;
    margin-left: 15px;
    background-color: firebrick;
}
.back>a{
    color: white;
    text-decoration: none;
}
.invite-try-form{
    display: flex;
}
.invite-done{
    font-size: 20px;
    padding-top: 20px;
}
.users-view-table{
    border-collapse: collapse;
}
.users-view-table>tbody>tr>td{
    padding: 20px;
    border-bottom: 1px solid #d4d3d3;
}
.users-no{
    padding-top: 40px;

}


.view-tourn-all-mathes{
    display: flex;
    position: relative;
    min-height: 588px;
}
.stage-3{
    padding-top: 98px;
}
.stage-4{
    position: absolute;
    left: 200px;
    top: 500px;
}
.stage-5{
    padding-top: 232px;
}
.grid-a{
    color: black;
    text-decoration: none;
    display: block;
}
.view-tourn-x-match{
    border: 1px solid #d7d8dc;
    padding: 4px;
    min-width: 200px
}
.view-tourn-x-match-fighter{
    min-height: 18px;
}
.view-tourn-x-match>.view-tourn-x-match-fighter:first-child{
    margin-bottom: 4px;
}
.stage-3>.grid-a:first-child{
    margin-bottom: 216px;
}
.view-tourn-x-grid-title{
    display: flex;
}

.admin-toss{
    padding-top: 50px;
    padding-bottom: 50px;
}
.admin-toss-title{
    font-size: 24px;
}

.match{
    padding-top: 50px;
    padding-bottom: 50px;
}
.match-title{
    font-size: 24px;
    text-align: center;
    margin-bottom: 90px;
}
.match-wrap{
    display: flex;
    justify-content: center;
    margin-bottom: 78px;
}
.match-info{
    margin-left: 57px;
    margin-right: 57px;
}
.match-no-time{
    margin-bottom: 10px;
    color: orange;
    font-size: 19px;
}
.match-category{
    text-align: center;
    margin-bottom: 5px;
}
.match-weight{
    text-align: center;
}
.match-player{
    min-width: 250px;
}
.match-player-fio{
    font-size: 22px;
    margin-bottom: 5px;
}
.match-player-country-sity{
    margin-bottom: 5px;
}
.match-score{
    text-align: center;
    font-size: 24px;
    margin-bottom: 3px;
}
.match-type_win{
    margin-bottom: 15px;
    text-align: center;
}

.match-edit-title{
    font-size: 22px;
    margin-bottom: 26px;
}
.match-edit-field{
    margin-bottom: 60px;
}
.match-edit-form-groupt{
    margin-bottom: 15px;
}
.match-edit-who{
    font-size: 18px;
    margin-bottom: 4px;
}
.match-win-type{
    margin-bottom: 10px;
    padding: 4px;
}
.edit-match-butt{
    display: block;
    width: 220px;
    padding: 10px;
    border: 1px solid #AFAFB0;
    border-radius: 3px;
    box-shadow: none;
    background-color: orange;
    cursor: pointer;
}
.match-input-score{
    margin-right: 20px;
    width: 30px;
    padding: 4px;
}



.edit{
    padding-top: 50px;
    padding-bottom: 50px;
}
.edit-content{
    display: flex;
}
.edit-main{
    padding-right: 97px;
}
.edit-title{
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}
.edit-bio-group{
    border-bottom: 1px solid #dedcdc;
    margin-bottom: 40px;
}
.edit-bio-title{
    font-size: 20px;
    margin-bottom: 15px;
}
.edit-bio-row{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.register-form-label{
    font-size: 18px;
    margin-bottom: 8px;
    color: grey;
}
.register-form-some{
    width: 204px;
    height: 45px;
    padding-left: 5px;
}
.edit-select{
    width: 204px;
    padding: 5px;
}
.edit-select:nth-child(2) {
    margin-bottom: 8px;
}

.cabinet{
    padding-top: 25px;
    padding-bottom: 25px;
}
.cabinet-title{
    font-size: 20px;
    margin-bottom: 20px;
    margin-right: 25px;
}
.cabinet-info-row{
    margin-bottom: 10px;
}
.cabinet-up-wrap{
    display: flex;
}
.cabinet-up-wrap>a{
    padding-top: 4px;
    color: black;
}

.request-wrap{
    padding-top: 120px;
}
.ch0ch{
    background: url(https://psv4.userapi.com/c848424/u201198354/docs/d7/abab5e0a68e1/TOBI.gif?extra=lxuNI6vESH0pLAPKtk3z_DlYiz4B9rBA1B9jCGM80y1qttHfj5HckVf0xrlg1VfOFfcHwWamgXoMqJtX3VE8xpqvwZ4xWLeOalQADhz9bRvcnZyb6MAbwls9QMY76TPoSH45y68ml70fZt9-uaE0Mvlx);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.ch0ch-field{
    font-size: 104px;
    text-align: center;
    padding-top: 269px;
    color: white;
}
.ch0ch-field2{
    text-align: center;
    color: white;
}
.ch0ch-field2>a{
    color: white;
}

.cabinet,
.tournaments,
.viewTourn,
.admin-start,
.admin-tournaments,
.admin-tournaments-add,
.admin-toss,
.invite,
.ch0ch,
.match,
.edit,
.inviteTry
{
    min-height: 86vh;
}